__pycache__/
templates/
**/migrations/
.idea/
db.sqlite3
archive.txt
media
reader.py
**/*.wav
*.webm
*.opus
requirements.txt
docker-compose.yml
dockerfile
.env
redis_dao.py
configuration