__pycache__/
templates/
**/migrations/
.idea/
db.sqlite3
reader.py
**/*.wav
*.webm
*.opus
requirements3.txt
docker-compose.yml
dockerfile
.env
redis_dao.py
configuration
.docker
**/views_old
*.yaml
*.bak
*.dat
*.dir
rediswq-dockerfile
mysql-dockerfile
**/*.txt
*.sql
workspace.code-workspace